// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey-dark : hsl(0, 0%, 29%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$white-ter : hsl(0, 0%, 96%);
$white-bis : hsl(0, 0%, 98%);

//Vives Colors
$vives-red : #e31d1a;
$vives-grey: #828282 ;
$vives-darkgrey: rgba(0,0,0,0.8);
