// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

body {
    font-family: $font-family-sans-serif;
    background: $body-bg;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #484746;
}

a,
a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

img,
svg,
canvas,
iframe {
    display: inline;
}

.navbar {
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    padding: 15px;
    font-size: 15px;

    span {
        font-size: 16px;
        text-decoration: none;
    }
}

nav ul {
    text-align: center;
    justify-content: center !important;
}

.img-rounded-shadow {
    border-radius: 10px;
    box-shadow: 14px 14px 14px 0 rgba(0, 0, 0, 0.27);
}

.container {
    width: 100%;
}

.content {
    background-color: #f8fafc;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
}

/** HOMEPAGE **/
#homepage {
    max-width: 2000px;
    margin: 0 auto;
    background-color: $body-bg;
    font-family: "Open Sans", sans-serif;
    font-family: "Open Sans", sans-serif;
    color: white;

    h2 {
        font-size: 38px;

        span {
            font-weight: 600;
        }
    }

    p {
        text-align: left;
        font-size: 17px;
    }
}
/* homepage caroussel */
.carousel-item {
    height: 750px;
    background-size: cover;
    background-position: 50% 50%;
}

.slide-1 {
    &-background {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
            ),
            url("/images/cube.jpg") no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &-content {
        font-family: "Open Sans", sans-serif;
        padding: 50px;
        color: white;
    }

    &-picture img {
        width: 500px;
    }
}

.slide-3 {
    &-picture img {
        max-width: 460px;
    }
}

.slide-4 {
    &-picture img {
        max-width: 460px;
    }
}

/****************************/

.vives-btn {
    border-radius: 12px;
    padding: 12px 16px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    cursor: pointer;
}

.vives-btn-red {
    background-color: $vives-red;

    &:hover {
        background-color: #828282;
        color: white;
    }
}

.vives-btn-grey {
    background-color: $vives-grey;
    box-shadow: none;
    border: none;

    &:hover {
        background-color: $vives-darkgrey;
        color: white;
    }
}

.nav-btn-wrapper {
    margin: 5px 0 0 25px;
}

#btnLan {
    font-size: 14px;
}

#homeButtonSection {
    margin: 50px auto;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 25px;
    width: 100%;
    height: 100px;
}

@media only screen and (max-width: 468px) {
    #homepage {
        h2 {
            font-size: 28px !important;
        }

        p {
            font-size: 16px;
        }

        .slide-1 {
            &-picture img {
                max-width: 330px;
            }
        }

        .slide-3,
        .slide-4 {
            &-picture img {
                max-width: 300px;
            }
        }

        .slide-2 {
            padding: 20px;
            &-picture img {
                max-width: 600px !important;
            }
        }

        .carousel-item {
            height: 700px;
        }
    }
}

@media only screen and (max-width: 768px) {
    #homepage {
        h2 {
            font-size: 35px;
        }

        .slide-4,
        .slide-3 {
            &-picture {
                margin: 0px !important;
            }
            .row {
                margin: 0 auto;
                padding: 0px 10px !important;

                p {
                    text-align: center;
                }
            }
        }
    }

    .vives-btn-bottom {
        margin-top: 10px;
    }

    .vives-btn {
        padding: 8px 12px;
    }
}

@media only screen and (max-width: 990px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .carousel-item {
        height: 800px;
    }

    .slide-1 {
        .row {
            margin: 0 auto;
            padding: 0px 10px !important;
        }

        p {
            text-align: center !important;
        }
    }

    .slide-3-picture {
        order: 2;
    }

    .slide-3 {
        order: 1;
    }

    .nav-btn-wrapper {
        margin: 10px 0 10px 0;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1600px) {
    .carousel-item {
        height: 688px !important;
    }

    .slide-3 {
        &-picture img {
            max-width: 400px;
        }
    }
    .home-overflow-hidden {
        overflow: hidden;
    }
}
/** ALL ROOMS **/

.panel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    padding: 15px;
}

.card {
    margin-top: 20px !important;
    border-left-width: 5px;
    border-left-color: $vives-red;
    color: $grey-dark;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
        margin-top: 50px;
        justify-content: center !important;
    }

    &-item {
        flex-grow: 1;
        flex-basis: 33.33%;
        max-width: 33.33%;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 16px;
    }

    &-inner {
        min-width: 240px;
        padding: 13px;
    }

    &-inner:hover {
        background: $white-ter;
    }

    &-title {
        font-size: 24px;
        font-weight: 400;
    }

    &-value {
        font-size: 16px !important;
    }
}

.badge-pill {
    background-color: $vives-red;
    color: $white-bis;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin: 12px 0px 5px 0px;
    font-size: 17px;
    font-weight: 400;
}

@media only screen and (max-width: 568px) {
    .card-row {
        display: inherit !important;
        flex-wrap: nowrap !important;
        margin: 8px;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .card-row {
        display: inherit;
    }

    .col,
    .col-sm,
    .col-xs {
        padding: 0px !important;
    }
}

@media only screen and (min-width: 800px) {
    .card {
        min-width: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .card {
        min-width: 340px;
    }
}

/* graph full screen on mobile */

@media only screen and (max-width: 550px) {
    .container {
        padding: 0px;
        margin: 0px;
    }
}

/** ROOM DETAIL / AVERAGE **/

.warning-icon {
    position: absolute;
    z-index: 10;
    right: 10px;
}

/** Tooltip **/

.tooltip-inner {
    padding: 5px !important;
    font-size: 15px !important;
    background-color: $grey-dark;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-top-color: $grey-dark;
}
