<template>
    <div class="mx-auto pt-4 min-w-0 w-full mb-6 rounded" style="max-width: 1000px;">
        <div v-if="roomnumbers" class="rounded px-0 sm:px-4 md:px-2 lg:px-5 py-3 bg-transparent">
            <div class="row" style="margin: 0 auto; max-width: 80%">
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <multiselect
                        v-model="RoomSelectvalue"
                        :options="roomnumbers"
                        :multiple="true"
                        placeholder="Pick some rooms"
                        :close-on-select="false"
                        :showLabels="false"
                        @close="updateChart"
                    >
                        <template slot="selection" slot-scope="{ values, search, isOpen }">
              <span class="multiselect__single" v-if="RoomSelectvalue.length &amp;&amp; !isOpen">
                {{
                      $tc("Room", RoomSelectvalue.length, {
                          count: RoomSelectvalue.length
                      })
                  }}
              </span>
                        </template>
                    </multiselect>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <multiselect
                        v-model="IntervalSelectValue"
                        :options="Intervaloptions"
                        placeholder="Pick an interval"
                        :allow-empty="false"
                        :preselect-first="true"
                        :searchable="false"
                        :showLabels="false"
                        @close="updateChart"
                        track-by="name"
                        label="name"
                    >
                        <template slot="singleLabel" slot-scope="{ option }">
                            {{
                                option.name
                            }}
                        </template>
                    </multiselect>
                </div>
                <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
                    <multiselect
                        v-model="Propertyselectvalue"
                        :options="Propertyoptions"
                        :show-labels="true"
                        placeholder="Pick an interval"
                        :allow-empty="false"
                        :preselect-first="true"
                        :searchable="false"
                        :showLabels="false"
                        @close="updateChart"
                        track-by="name"
                        label="name"
                    >
                        <template slot="singleLabel" slot-scope="{ option }">
                            {{
                                option.name
                            }}
                        </template>
                    </multiselect>
                </div>
            </div>
            <div class="row mt-4 justify-content-center container">
                <div class="col-sm-12 col-xs-12 col-md-3 col-lg-4 col-xl-4">
                    <h3>{{ this.$t('Period') }}</h3>
                    <date-picker @close="updateChart" style="max-width: 230px;" v-model="DateSelect"
                                 range></date-picker>
                </div>
            </div>
            <div class="mt-5">
                <div class="relative w-full" style="height: 600px">
                    <canvas id="averagechart"></canvas>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {Chart} from "chart.js";
import "chartjs-plugin-colorschemes";
import Multiselect from "vue-multiselect";
import moment from "moment";
import DatePicker from "vue2-datepicker";

Chart.defaults.global.title.fontStyle = "normal";

export default {
    components: {
        Multiselect,
        DatePicker
    },
    props: {
        locale: String
    },
    data: function () {
        return {
            roomnumbers: [],
            RoomSelectvalue: [],
            IntervalSelectValue: "",
            Intervaloptions: null,
            Propertyselectvalue: "",
            Propertyoptions: null,
            chart: null,
            DateSelect: [null, null]
        };
    },
    methods: {
        renderChart(data) {
            let options = {
                maintainAspectRatio: false,
                responsive: true,
                datasets: {
                    line: {
                        fill: false
                    }
                },
                title: {
                    display: true,
                    fontSize: 22,
                    text: `${this.$t("average")} ${
                        this.Propertyselectvalue.value == "Co2"
                            ? "CO\u2082"
                            : this.capitalize(this.$t(this.Propertyselectvalue.value, true))
                    }`
                },
                plugins: {
                    colorschemes: {
                        scheme: "office.Median6"
                    }
                },
                scales: {
                    xAxes: [
                        {
                            type: "linear",
                            position: "bottom",
                            ticks: {
                                callback: (value, index, values) => {
                                    return this.formatTimeStamp(value);
                                }
                            }
                        }
                    ]
                },
                tooltips: {
                    callbacks: {
                        title: (tooltipItem, data) => {
                            return this.formatTimeStamp(tooltipItem[0].xLabel);
                        }
                    }
                }
            };
            switch (this.Propertyselectvalue.value) {
                case "Temperature":
                    options.scales.yAxes = [
                        {
                            display: true,
                            ticks: {
                                beginAtZero: true,
                                max: 40
                            }
                        }
                    ];
                    break;
                case "Co2":
                    break;
                case "Humidity":
                    break;
                default:
                    break;
            }

            this.chart = new Chart(
                document.getElementById("averagechart").getContext("2d"),
                {
                    type: "line",
                    data: {
                        datasets: data
                    },
                    options: options
                }
            );
        },
        async updateChart() {
            let { data } = await axios.post('/api/average', {
                interval: this.IntervalSelectValue.value,
                property: this.Propertyselectvalue.value,
                rooms: this.RoomSelectvalue.sort(),
                period: this.DateSelect
            });

            if (this.chart) this.chart.destroy();

            //map data
            let dataset = [];

            data.forEach(el => {
                let _data = [];
                el.metingen.forEach(d => {
                    _data.push({
                        y: d[this.Propertyselectvalue.value.toLowerCase()],
                        x: new Date(d.created_at).getTime()
                    });
                });

                dataset.push({
                    label: el.room,
                    data: _data
                });
            });

            //redraw chart
            this.renderChart(dataset);
        },
        formatTimeStamp(value) {
            switch (this.IntervalSelectValue.value) {
                case "Realtime":
                    return moment(value).format("DD/MM/YY - HH:mm");
                    break;
                case "Hourly":
                    return moment(value).format("DD/MM/YY - HH");
                    break;
                case "Daily":
                case "Weekly":
                    return moment(value).format("DD/MM/YY");
                    break;
                case "Monthly":
                    return moment(value).format("MM/YY");
                    break;
                default:
                    return moment(value).format("DD/MM/YY - HH:mm");
                    break;
            }
        },
        async fetchRooms() {
            const { data } = await axios.get('/api/rooms');
            this.roomnumbers = data
            await this.updateChart()
        }
    },
    created() {
        this.fetchRooms()
        this.$i18n.locale = this.locale;
        this.Intervaloptions = [
            {name: this.$t("Realtime"), value: "Realtime"},
            {name: this.$t("Hourly"), value: "Hourly"},
            {name: this.$t("Daily"), value: "Daily"},
            {name: this.$t("Weekly"), value: "Weekly"},
            {name: this.$t("Monthly"), value: "Monthly"}
        ];
        this.Propertyoptions = [
            {name: this.$t("Temperature"), value: "Temperature"},
            {name: "CO\u2082", value: "Co2"},
            {name: this.$t("Humidity"), value: "Humidity"}
        ];
    }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped>
h3 {
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}
</style>
<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

$primary-color: #1284e7;
@import "~vue2-datepicker/scss/index.scss";
</style>
