<template>
  <div class="container mt-5">
    <h3>{{ this.$t('BarChartTitle') }}</h3>
    <div class="row" style="margin: 0 auto 20px auto">
      <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
        <div class="row justify-content-center">
          <div class="col-6 col-xs-6 col-sm-5 col-md-12 col-lg-12 col-xl-12">
            <label>CO&#8322; (ppm)</label>
          </div>
          <div class="col-5 col-xs-5 col-sm-3 col-md-12 col-lg-12 col-xl-12">
            <multiselect
              v-model="Co2SelectedValue"
              :options="Co2Options"
              :allow-empty="false"
              :preselect-first="true"
              :searchable="false"
              :showLabels="false"
              @close="update('co2', Co2SelectedValue)"
              style="margin: 0 auto; max-width: 80px"
            ></multiselect>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
        <div class="row justify-content-center">
          <div class="col-6 col-xs-6 col-sm-5 col-md-12 col-lg-12 col-xl-12">
            <label>{{ this.$t('Temperature') }} (°C)</label>
          </div>
          <div class="col-4 col-xs-4 col-sm-3 col-md-12 col-lg-12 col-xl-12">
            <multiselect
              v-model="TemperatureSelectedValue"
              :options="TemperatureOptions"
              :allow-empty="false"
              :preselect-first="true"
              :searchable="false"
              :showLabels="false"
              @close="update('temperature', TemperatureSelectedValue)"
              style="margin: 0 auto; max-width: 80px"
            ></multiselect>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 col-xl-4">
        <div class="row justify-content-center">
          <div class="col-6 col-xs-6 col-sm-5 col-md-12 col-lg-12 col-xl-12">
            <label>{{ this.$t('Humidity') }} (%)</label>
          </div>
          <div class="col-4 col-xs-4 col-sm-3 col-md-12 col-lg-12 col-xl-12">
            <multiselect
              v-model="HumiditySelectedValue"
              :options="HumidityOptions"
              :allow-empty="false"
              :preselect-first="true"
              :searchable="false"
              :showLabels="false"
              @close="update('humidity', HumiditySelectedValue)"
              style="margin: 0 auto; max-width: 80px"
            ></multiselect>
          </div>
        </div>
      </div>
    </div>
    <div id="chart-container" style="margin: 0 auto; max-height: 700px; max-width: 900px">
      <canvas id="timeChart"></canvas>
    </div>
  </div>
</template>

<script>
import { Chart } from "chart.js";
import Multiselect from "vue-multiselect";

Chart.defaults.global.title.fontStyle = 'normal'

export default {
  components: {
    Multiselect
  },
  props: {
    room: String,
    timedata: Array
  },
  data: function() {
    return {
      Co2SelectedValue: "",
      Co2Options: [250, 500, 750, 1000, 1250, 1500, 1750],
      TemperatureSelectedValue: "",
      TemperatureOptions: [5, 10, 15, 20, 25, 30, 35],
      HumiditySelectedValue: "",
      HumidityOptions: [10, 20, 30, 40, 50, 60, 70, 80, 90],
      chart: null,
      colors: {
        temperature: "#FF3860",
        co2: "#696969",
        humidity: "#00b3fa"
      }
    };
  },
  methods: {
    renderChart(datasets) {
      let options = {
        tooltips: {
          callbacks: {
            title: () => "Hours"
          }
        },
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true
              }
            }
          ]
        },
        plugins: false
      };
      this.chart = new Chart(
        document.getElementById("timeChart").getContext("2d"),
        {
          type: "bar",
          data: {
            datasets: datasets
          },
          options: options
        }
      );
    },
    async requestData(prop, val) {
      let { data } = await axios.post("/api/time-above", {
        room: this.room,
        property: prop,
        value: val
      });

      return data;
    },
    async update(prop, val) {
      let data = await this.requestData(prop, val);
      switch (data.property) {
        case "co2":
        case "CO2":
        case "Co2":
          this.chart.data.datasets[0].data[0] = data.duration;
          break;
        case "Temperature":
        case "temperature":
          this.chart.data.datasets[1].data[0] = data.duration;
          break;
        case "Humidity":
        case "humidity":
          this.chart.data.datasets[2].data[0] = data.duration;
          break;
        default:
          break;
      }
      this.chart.update();
    },
    async initChart() {
      let colors = this.colors;
      let datasets = [];
      this.timedata.forEach(el => {
        datasets.push({
          label: this.$t(el.data.property),
          data: [el.data.duration],
          backgroundColor: colors[el.data.property]
        });
      });
      this.renderChart(datasets);
    }
  },
  mounted() {
    this.initChart();
  }
};
</script>
