<template>
  <div>
    <div class="container mt-5">
      <div class="row" style="margin: 0 auto; max-width: 80%">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <multiselect
            v-model="IntervalSelectValue"
            :options="Intervaloptions"
            placeholder="Pick an interval"
            :allow-empty="false"
            :preselect-first="true"
            :searchable="false"
            :showLabels="false"
            @close="updateChart"
            track-by="name"
            label="name"
          >
            <template slot="singleLabel" slot-scope="{ option }">
              {{
              option.name
              }}
            </template>
          </multiselect>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6">
          <multiselect
            v-model="Propertyselectvalue"
            :options="Propertyoptions"
            :show-labels="true"
            placeholder="Pick an interval"
            :allow-empty="false"
            :preselect-first="true"
            :searchable="false"
            :showLabels="false"
            @close="updateChart"
            track-by="name"
            label="name"
          >
            <template slot="singleLabel" slot-scope="{ option }">
              {{
              option.name
              }}
            </template>
          </multiselect>
        </div>
      </div>
      <div
        id="chart-container"
        style="margin: 40px auto; height:45vh; width:75vw; max-width: 900px"
      >
        <canvas id="chart"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import { Chart } from "chart.js";
import "chartjs-plugin-colorschemes";
import Multiselect from "vue-multiselect";

export default {
  components: {
    Multiselect
  },
  props: {
    room: String,
    locale: String
  },
  data: function() {
    return {
      IntervalSelectValue: "",
      Intervaloptions: null,
      Propertyselectvalue: "",
      Propertyoptions: null,
      chart: null,
      color: "#00b3fa"
    };
  },
  methods: {
    renderChart(labels, data) {
      let options = {
        maintainAspectRatio: false,
        plugins: false
      };
      switch (this.Propertyselectvalue.value) {
        case "Temperature":
          options.scales = {
            yAxes: [
              {
                display: true,
                ticks: {
                  beginAtZero: true,
                  max: 40
                }
              }
            ]
          };
          this.color = "#FF3860";
          break;
        case "Co2":
          this.color = "#696969";
          break;
        case "Humidity":
          this.color = "#00b3fa";
          break;
        default:
          this.color = "#00b3fa";
          break;
      }

      this.chart = new Chart(
        document.getElementById("chart").getContext("2d"),
        {
          type: "line",
          data: {
            labels: labels,
            datasets: [
              {
                label:
                  this.Propertyselectvalue.value == "Co2"
                    ? "CO\u2082"
                    : this.$t(
                        this.capitalize(
                          this.Propertyselectvalue.value.toLowerCase()
                        )
                      ),
                data: data,
                backgroundColor: [this.color]
              }
            ]
          },
          options: options
        }
      );
    },
    async updateChart() {
      let { data } = await axios.post(`${window.location.pathname}`, {
        interval: this.IntervalSelectValue.value,
        property: this.Propertyselectvalue.value
      });
      if (this.chart) this.chart.destroy();
      this.renderChart(
        data.map(x => x.created_at),
        data.map(x => x[this.Propertyselectvalue.value.toLowerCase()])
      );
    }
  },
  mounted() {
    this.updateChart();
  },
  created() {
    this.$i18n.locale = this.locale;
    this.Intervaloptions = [
      { name: this.$t("Realtime"), value: "Realtime" },
      { name: this.$t("Hourly"), value: "Hourly" },
      { name: this.$t("Daily"), value: "Daily" },
      { name: this.$t("Weekly"), value: "Weekly" },
      { name: this.$t("Monthly"), value: "Monthly" }
    ];
    this.Propertyoptions = [
      { name: this.$t("Temperature"), value: "Temperature" },
      { name: "CO\u2082", value: "Co2" },
      { name: this.$t("Humidity"), value: "Humidity" }
    ];
  }
};
</script>

<style scoped>
@media only screen and (max-width: 550px) {
  #chart-container {
    padding: 0px;
    width: inherit !important;
  }
}

@media only screen and (min-width: 1250px) {
  #chart-container {
    width: 900px !important;
  }
}

@media only screen and (min-width: 2200px) {
  #chart-container {
    width: 1200px !important;
    height: 37vh !important;
  }
}
</style>
